.section_img {
    width: 100%;
    height: 100%;
    max-height: 700px;
    background-image: url(../igmp/Screenshot_2.png);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain; 
}
/* О нас*/
.container_about_us {
    border-top: 2px solid white;
    background-color: #6e6e6e;
    height: 300px;
    width: 100%;
}
/* Наши плюсы*/

.container_plus {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}


.flex_our_advantages {
    max-width: 1200px;
    margin: auto;
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}
.container_our_advantages {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
    width: 200px;
    height: 140px;
    border-radius: 8px;
}
.svg_our_advantages {
    display: block;
    margin: auto;
    width: 75px;
    height: 75px;
    fill: #4f405f;
}
.p_plus {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    color: #4f405f;
}


/* Основная страница*/

main {
    width: 1800px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    
}







 /* Параметры заголовка "Наши услуги" */
 .h2_services {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
    padding-top: 50px;
    
}
.p_services1 {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}
 /* ------------------- */

/* Флексы */
.container_services {
    margin: 0 auto;
    max-width: 95%;
}


.flex {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.flex_content {
    display: flex;
    justify-content: space-between;
}

    
/* Блоки с улсугами */



.block_pers_workout {
    width: 650px;
    height: 200px;
    background-color: #4f405f;
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 7px;
    box-shadow: 0px 5px 10px 0px #4f405f

}


.img_services {
    width: 200px;
    height: 200px;
    transition: 1s;
      
}
.img_services:hover {
    transform: scale(1.1);
}
.scale {
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    margin-right: 10px;
    border-radius: 7px 0px 0px 7px;
}
.p_conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.p_services {
    text-align: center;
    color: #ffffffe8;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    margin: 3px;
    
}


 /* ------------------------------------- */
 /*Отзывы */
.container_reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    background-color: white;
    height: 300px;
}
.img_reviews {
    width: 220px;
    height: 200px;
}
.img_2gis {
    width: 125px;
    height: 50px;
}
 





/* Адаптивность   */


@media (max-width:1800px) {
    
}

@media (max-width:1200px) {
    
}

@media (max-width:800px) {
    
}

@media (max-width:500px) {
    
}
@media (max-width:400px) {
    
}

@media (max-width:360px) {
   
}





