.section_container {
    height: 100%;
}
.container_table_price {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 350px;
    gap: 30px;
}
.block_price {
    padding: 20px;
    width: 800px;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
    height: auto;
}

.button_container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button_price {
    width: 180px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    border: solid 1px #4f405f;
    cursor:pointer;
    transition: 0.4s;
  }
  
  
  .button_price:focus {
    background-color: #4f405f;
    color: #ffffff;
    transform: 0.4s;
  }
  .button_price.active {
    background-color: #4f405f;
    color: #ffffff;
  }


  .h2_text {
    font-size: 24px;
    font-weight: 400;
    color: #3d3d3d;
    margin-bottom: 10px;
}


.flex_p_price {
    display: flex;
    align-items: center;
    margin: 25px 0 25px 0;
    gap: 10px;

}
.first_training {
    font-size: 18px;
    font-weight: 400;
}
.price {
    font-size: 22px;
    font-weight: 600;
}

 /* Блок с абонементами */
 .h2_text2 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #3d3d3d;
    margin: 10px 0 10px 0;
 }
 
.container_subscription {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.new_price_container {
    position: relative;
}
.span_old_price {
    position: absolute;
    top: 12px;
    width: 100%;
    border-top: 2px solid #727171;

}
.old_price {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #727171;
}
.price2 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.span_dash {
    position: absolute;
    top: -8px;
    left: -35px;
    font-size: 50px;
    font-weight: 100;
    color: #727171;
}


.p_number_subscription {
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
}
.p_duration {
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #727171;
}







@media (max-width:1200px) {
.container_table_price {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    align-items: start;
    
    gap: 30px;
}
}





























































 /* Стилизация инпут чексбокса */

.toggle {
    cursor: pointer;
    display: inline-block;
  }
  
  .toggle-switch {
    cursor: pointer;
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }
  .toggle-switch:before, .toggle-switch:after {
    content: "";
  }
  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: #4f405f;
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
  }
  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
  
  .toggle-label {
    cursor: pointer;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: 2px;
  }